@model Info.Models.Text

@{
    ViewData["Title"] = "Usuwanie tekstu";
}

<h1 class="oswald text-primary">Kasowanie tekstu</h1>

<h3 class="text-success">Czy na pewno chcesz usunąć ten tekst?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graphic)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.Graphic != null ? "~/img/mini/" + Model.Graphic : "~/img/mini/brak.jpg")" width="150" /> <br/>
            @Html.DisplayFor(model => model.Graphic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TextId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-light">Powrót do tekstów</a>
    </form>
</div>
